 


<%= k=params[:file_name]%></br>
 <li id= <%= @m= params[:file_name]%> 

  <%= @m%>
                         </br>
  <%= link_to "html  ", zeig_path(@m) %>
  <%= link_to "pdf", zeig_path(@m ,format: :pdf) %>
  <%= link_to "edit" ,editfile_path(@m) %>
  <%= link_to "Delete" ,delete_path(@m),data: { confirm:
'Are you sure?' , remote: true } %>
 

</li>


