
    <%= form_tag({controller: "uploads", action: "chang"}, method: "post", remote: true) do %>
<fieldset>
      

<div class="field">
    <%= label_tag(:q, "fie_name:") %>
    <%= text_field_tag 'file_name',@file , readonly: true %>
  </div>

<div class="field">
  <%= label_tag(:q, "markdown_text:") %>

    <%= text_area(:post, :body, value:@data,cols: 100, rows: 30) %>

    
   </div> 

      <div class="actions">

    <%= submit_tag("save") %>
</div>
<% end %>

<%= link_to 'Back', uploads_path %>
 <div id="New"></div>